<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chicago YSA</title>
    <link rel="shortcut icon" href="static/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Squada+One" rel="stylesheet">
    <!-- Bulma Version 0.7.1-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
  <section class="hero is-info is-large">
    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="titlefont">Chicago YSA</div>
        <h2 class="subtitle">Information and Communications</h2>
      </div>
    </div>
  </section>
  <br></br>
  <section class="container is-fluid">
    <div class="columns is-fluid">
      <div class="column is-6 is-fluid">
        <div class="card">
          <div class="card-image">
            <div class="iframe-container">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d23757.92347433418!2d-87.64651560686406!3d41.89843903964968!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x7c9b324f0df92172!2sThe+Church+of+Jesus+Christ+of+Latter-day+Saints!5e0!3m2!1sen!2sus!4v1544595665077" class='iframe' allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-6 is-fluid">
        <div class="card">
          <div class="card-header">
            <div class="card-header-title">
              <h4>Sunday Meeting Schedule</h4>
            </div>
          </div>
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image">
                    <i class="fa fa-map-marker"></i>
                  </figure>
                </div>
                <div class="media-content">
                 <p class="subtitle is-6">822 N Clark St. Chicago, IL 60610</p>
                </div> 
              </div>
              <div class="media">
                <div class="media-left">
                  <figure class="image">
                    <i class="fa fa-calendar"></i>
                  </figure>
                </div>
                <div class="media-content">
                 <p class="subtitle is-6">Sunday - 8:30 AM | Sacrament Meeting - 10:30 AM</p>
                </div> 
              </div>
              <div class="media">
                <div class="media-left">
                  <figure class="image">
                    <i class="fa fa-car"></i>
                  </figure>
                </div>
                <div class="media-content">
                 <p class="subtitle is-6">Parking available 7AM to 5PM. Access from Clark St.</p>
                </div> 
              </div>
              <div class="media">
                <div class="media-left">
                  <figure class="image">
                    <i class="fa fa-train"></i>
                  </figure>
                </div>
                <div class="media-content">
                 <p class="subtitle is-6">Accessible from CTA Brown and Red Lines</p>
                </div> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>    
</body>
